* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#tasks-form {
  background: #00467f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00467f,
    #a5cc82
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00467f,
    #a5cc82
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: auto;
  padding: 1em;

  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  color: #fff;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  p {
    margin: auto 0 0 0;
  }

  p {
    @media (max-width: 800px) {
      width: 100%;
    }

    label {
      display: block;
      margin: 0.5em;
    }

    input,
    button,
    select {
      border-radius: 7em;
      border: none;
      padding: 0.4em 1em;
      font-size: 1em;
    }

    select {
      width: 8em;
    }

    input {
      width: 27em;
    }

    @media (max-width: 800px) {
      input,
      select {
        width: 100%;
      }
    }

    button {
      background-color: rgb(110, 242, 110);
      cursor: pointer;
      transition: all ease-in-out 0.3s;
      &:hover {
        transition: all ease-in-out 0.3s;
        transform: scale(1.2, 1.2);
        @media (max-width: 800px) {
          transform: none;
        }
      }

      @media (max-width: 800px) {
        width: 100%;
      }
    }
  }
}

.tasks-wrapper {
  width: 100%;
  height: auto;
  overflow: auto;

  .overflow-wrapper {
    width: 100%;
    min-width: 1000px;
    min-height: 85vh;
    overflow-x: scroll;
    height: auto;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  .wrapper-list {
    display: grid;
    grid-template-rows: 4em 1fr;
    .header {
      padding: 1em 0;
      font-weight: 600;
      text-align: center;
      font-size: 1.2em;
    }
    .content-list {
      width: 100%;
      height: 70vh;
      overflow-y: scroll;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 1em;
    justify-content: center;
    .card {
      border-radius: 1em;
      border: none;
      overflow: hidden;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 1em;
      .content {
        padding: 1em;
      }
      .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1em;
        div {
          padding: 1em;
          text-align: center;
        }
      }
    }
  }
}
